<div>
  <mdb-card class="mb-3">
    <mdb-card-header class="z-depth-2 deep-purple lighten-2">
      <h3 class="text-center font-weight-bold">Education</h3>
    </mdb-card-header>

    <mdb-card-body class="mx-1 px-1 ">
      <mdb-card class="mx-auto">
        <mdb-card-header class="deep-purple lighten-4">
          <div class="row px-0 mx-0">
            <div class="col-md-3">
              <figure class="figure card-img">
                <img class="figure-img img-fluid img-thumbnail" src="/assets/images/webp/wku.webp" alt="Western Kentucky University logo" />
              </figure>
            </div>
            <ul class="col  list-group">
              <li class="list-group-item w-100"><strong>Western Kentucky University</strong></li>
              <li class="list-group-item w-100">Bowling Green, KY</li>
              <li class="list-group-item w-100">Bachelor of Science</li>
              <li class="list-group-item w-100">Computer Science</li>
            </ul>
            <div class="col-6 deep-purple lighten-5">
              test
            </div>
          </div>
        </mdb-card-header>

      </mdb-card>
    </mdb-card-body>
  </mdb-card>
</div>
