<div>
  <div class="container-fluid bg-transparent mx-0">

    <!--<div class="z-depth-2 deep-purple lighten-2 w-100">
      <h3 class="text-center font-weight-bold">Skills</h3>
    </div>-->
    <div class="row">
      <div class="card-deck border border-dark">
        <mdb-card class="col-xl-4 border-dark mb-2">
          <!--<mdb-card-header class="z-depth-2 font-weight-bold">
            <div class="mx-auto   text-center  z-depth-3 deep-purple lighten-3">Software Development Skills</div>
          </mdb-card-header>-->

          <mdb-card-body>
            <div class="wrapper border border-dark p-2 mx-2">
              <h6 class="grid-item grid-item--width3 mx-2">C#</h6>
              <h6 class="grid-item grid-item--width3 mx-2">ASP.NET MVC</h6>
              <h6 class="grid-item grid-item--width3 mx-2">ASP.NET WebAPI</h6>
              <h6 class="grid-item grid-item--width3 mx-2">HTML5</h6>
              <h6 class="grid-item grid-item--width3 mx-2">CSS3</h6>
              <h6 class="grid-item grid-item--width3 mx-2">JavaScript</h6>
              <h6 class="grid-item grid-item--width3 mx-2">jQuery</h6>
              <h6 class="grid-item grid-item--width3 mx-2">JSON</h6>
              <h6 class="grid-item grid-item--width3 mx-2">XML</h6>
              <h6 class="grid-item grid-item--width3 mx-2">ADO.Net</h6>
              <h6 class="grid-item grid-item--width3 mx-2">Entity Framework</h6>
              <h6 class="grid-item grid-item--width3 mx-2">SQL Server</h6>
              <h6 class="grid-item grid-item--width3 mx-2">VB.Net</h6>
              <h6 class="grid-item grid-item--width3 mx-2">LINQ</h6>
              <h6 class="grid-item grid-item--width3 mx-2">NUnit</h6>
              <h6 class="grid-item grid-item--width3 mx-2">WCF</h6>
              <h6 class="grid-item grid-item--width3 mx-2">Visual Studio</h6>
            </div>
            <div class="wrapper border border-dark mt-2 p-2 mx-2">
              <h6 class="grid-item grid-item--width3">Bootstrap Framework (3/4)</h6>
              <h6 class="grid-item grid-item--width3">GIT (GitHub / Bitbucket)</h6>
              <h6 class="grid-item grid-item--width3">REST using Web API</h6>
              <h6 class="grid-item grid-item--width3">Version Control</h6>
              <h6 class="grid-item grid-item--width3">Class Modeling</h6>
              <h6 class="grid-item grid-item--width3">Debugging Techniques</h6>
            </div>
            <div class="border border-dark mt-2 p-0 mx-2">
              <h6 class="grid-item">Test Driven Development (TDD)</h6>
              <h6 class="grid-item">Object Oriented Programming (OOP)</h6>
              <h6 class="grid-item">Common Architecture Patterns</h6>
            </div>
          </mdb-card-body>

        </mdb-card>

        <!--<div class="w-100 d-none d-sm-block d-md-none"></div>-->

        <mdb-card class="col-xl-4 border border-dark mb-2">
          <mdb-card-header class="z-depth-2 font-weight-bold">
            <div class="mx-auto   text-center  z-depth-3 deep-purple lighten-3">Mainframe Skills</div>
          </mdb-card-header>
          <mdb-card-body>
            <div class="wrapper border  border-dark p-2 mx-2">
              <h6 class="grid-item grid-item--width2 mx-2">COBOL</h6>
              <h6 class="grid-item grid-item--width2  mx-2">Easytrieve</h6>
              <h6 class="grid-item grid-item--width2  mx-2">CICS</h6>
              <h6 class="grid-item grid-item--width2  mx-2">REXX</h6>
              <h6 class="grid-item grid-item--width2 mx-2">CLIST</h6>
              <h6 class="grid-item  grid-item--width2 mx-2">VSAM</h6>
              <h6 class="grid-item grid-item--width2 mx-2">IMS</h6>
              <h6 class="grid-item grid-item--width2  mx-2">Xpediter</h6>
              <h6 class="grid-item grid-item--width2  mx-2">z/OS</h6>
              <h6 class="grid-item grid-item--width2 mx-2">TSO</h6>
              <h6 class="grid-item grid-item--width2  mx-2">ISPF</h6>
              <h6 class="grid-item grid-item--width2  mx-2">DB2</h6>
              <h6 class="grid-item grid-item--width2  mx-2">JCL</h6>
              <h6 class="grid-item grid-item--width3  mx-2">Changeman</h6>
            </div>
          </mdb-card-body>
        </mdb-card>
        <!--<div class="w-100 d-none d-sm-block d-md-none"></div>
        <div class="w-100 d-none d-md-block d-lg-none"></div>-->

        <mdb-card class="col-xl-4 border border-dark">
          <!--<mdb-card-header class="z-depth-2 font-weight-bold ">
            <div class="mx-auto  text-center z-depth-3 deep-purple lighten-3">Soft Skills</div>
          </mdb-card-header>-->
          <mdb-card-body>
            <div class="grid border  border-dark p-2">

              <h6 class="grid-item  grid-item--width3  mx-2">Troubleshooting</h6>
              <h6 class="grid-item  grid-item--width3  mx-2">Client Interaction</h6>
              <h6 class="grid-item  grid-item--width3  mx-2">Team Leadership</h6>
              <h6 class="grid-item  grid-item--width3  mx-2">Contributorg</h6>
              <h6 class="grid-item  grid-item--width3  mx-2">Innovation</h6>
              <h6 class="grid-item  grid-item--width3  mx-2">Requirement Gathering</h6>
            </div>


          </mdb-card-body>
          <!--<mdb-card-header class="card-header  z-depth-2 font-weight-bold">
            <div class="mx-auto  text-center z-depth-3 deep-purple lighten-3 ">Downloadable Resumes</div>
          </mdb-card-header>-->
          <mdb-card-body>
            <div class="mr-3 row">
              <div class="col-5">Software developer</div>
              <a href="https://drive.google.com/open?id=12YQcCz7pA0Jpyd6GzWdk_4xotySPdJBd"
                 alt="Link to downloadable PDF resume" class="col-2">

                <i class="fas fa-file-pdf fa-2x  ml-3"></i>
              </a>
              <a href="https://drive.google.com/open?id=1QMOi34cnxZ6_v17JHAX0zcQmyGJyz1GK"
                 alt="Link to downloadable Microsoft Word resume">
                <i class="fas fa-file-word fa-2x ml-3"></i>
              </a>
            </div>

            <div class="mr-3 row">
              <div class="col-5">Mainframe developer</div>
              <a href="https://drive.google.com/open?id=12YQcCz7pA0Jpyd6GzWdk_4xotySPdJBd"
                 alt="Link to downloadable PDF resume" class="col-2">

                <i class="fas fa-file-pdf fa-2x ml-3"></i>
              </a>
              <a href="https://drive.google.com/open?id=1QMOi34cnxZ6_v17JHAX0zcQmyGJyz1GK"
                 alt="Link to downloadable Microsoft Word resume">
                <i class="fas fa-file-word fa-2x ml-3"></i>
              </a>
            </div>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>
</div>
