<div>
  <mdb-card class="mb-1 border-dark p-1">
    <mdb-card-header class="deep-purple lighten-4">
      <div class="row px-0 mx-0">
        <div class="col-md-3">
          <figure class="figure card-img">
            <img class="figure-img img-fluid img-thumbnail" src="/assets/images/webp/FirstTennessee.webp" alt="First Tennesse logo" />
          </figure>
        </div>
        <ul class="col list-group">
          <li class="list-group-item w-100 font-weight-bold">First Tennessee Bank, N.A.</li>
          <li class="list-group-item w-100">Louisville, KY</li>
          <li class="list-group-item w-100">Senior Consulting Analyst</li>
          <li class="list-group-item w-100">May 2002 – Dec 2010</li>
        </ul>
        <div class="col-6 deep-purple lighten-5">
          test
        </div>
      </div>
    </mdb-card-header>
    <mdb-card-body>
      <ul class="list-group">
        <li class="list-group-item w-100">Guided team of up to 6 developers in supporting the remittance operation. Provided manager with regular status reports and represented him during meetings. </li>
        <li class="list-group-item w-100">Coordinated technical service needs (transmission setups, batch job scheduling, database) with proper areas. Participated in enterprise technology level projects involving both operating system and software upgrades.</li>
        <li class="list-group-item w-100">Created VB.Net Win Form app to allow entry of name and address changes. App used simple SQL database to confirm city, state and zip code combinations.</li>

        <li class="list-group-item w-100">Rewrote the app to use VB.Net and Silverlight to allow easier installation.</li>

        <li class="list-group-item w-100">Created VB.Net Win Form app to watch various directories for new files. When detected, the app would process the new file and store the edited file into the upload directory.</li>

        <li class="list-group-item w-100">Created separate VB.Net WPF app to send and receive files using a third party FTP component.</li>

        <li class="list-group-item w-100">Replaced several standalone VB.Net Win Form/WPF apps with a VB.Net Silverlight app. The app enabled clerks to extract data from a SQL Server database and create an extract file. </li>

        <li class="list-group-item w-100">Provided programming support for the remittance system using COBOL, Easytrieve and REXX programs.</li>
        <li class="list-group-item w-100">Devised a solution to letter generation process. This saved 2.5 FTEs and generated over $100,000 in extra revenue. Wrote COBOL program to embed HP printer control commands and format text.</li>
      </ul>

    </mdb-card-body>
  </mdb-card>

</div>
