<div>
  <div class="card-columns align-content-start h-100 mx-auto p-3">
    <div id="cardCoding" class="card mb-2 pb-0">
      <div class="card-header" style="background-color: lightsteelblue;">
        <div class="card-title h5">Coding</div>
      </div>
      <div class="card-body pt-1 pb-2 nav-pills">
        <ul class="list-unstyled">
          <li>
            <a class="card-link" href="http://www.c-sharpcorner.com/" rel="nofollow noopener noreferrer">C# Corner</a>
          </li>
          <li>
            <a class="card-link" href="https://css-tricks.com/" rel="nofollow noopener noreferrer">CSS Tricks</a>
          </li>
          <li>
            <a class="card-link" href="https://www.asp.net/mvc" rel="nofollow noopener noreferrer">ASP.Net MVC</a>
          </li>
          <li>
            <a class="card-link" href="https://www.asp.net/core" rel="nofollow noopener noreferrer">ASP.Net Core</a>
          </li>
          <li>
            <a class="card-link" href="https://www.microsoft.com/net" rel="nofollow noopener noreferrer">.Net Portal</a>
          </li>
          <li>
            <a class="card-link" href="https://www.red-gate.com/simple-talk/dotnet/net-development/visual-lexicon-linq/" rel="nofollow noopener noreferrer">LINQ Visual Lexicon</a>
          </li>
        </ul>
      </div>
    </div>
    <div id="cardMainframe" class="card mb-2 pb-0">
      <div class="card-header" style="background-color: royalblue;">
        <div class="card-title h5">Mainframe</div>
      </div>
      <div class="card-body pt-1 pb-2">
        <ul class="list-unstyled">
          <li>
            <a class="card-link" href="http://www.ibm.com" rel="nofollow noopener noreferrer">IBM</a>
          </li>
          <li>
            <a class="card-link" href="http://www-01.ibm.com/support/docview.wss?uid=swg27036733" rel="nofollow noopener noreferrer">Enterprise COBOL Documention</a>
          </li>
          <li>
            <a class="card-link" href="http://www.redbooks.ibm.com/" rel="nofollow noopener noreferrer">IBM Redbooks</a>
          </li>
          <li>
            <a class="card-link" href="http://www.developer.ibm.com/cics/">CICS Developer Center</a>
          </li>
          <li>
            <a class="card-link" href="https://www-03.ibm.com/systems/z/os/zos/" rel="nofollow noopener noreferrer">z/OS </a>
          </li>
          <li>
            <a class="card-link" href="https://www.ibm.com/bs-en/marketplace/interactive-system-productivity-facility" rel="nofollow noopener noreferrer">ISPF</a>
          </li>
        </ul>
      </div>
    </div>
    <div id="cardMedicine" class="card mb-2 pb-0">
      <div class="card-header" style="background-color: lightblue;">
        <div class="card-title h5">Medicine</div>
      </div>
      <div class="card-body pt-1 pb-2">
        <ul class="list-unstyled">
          <li>
            <a class="card-link" href="http://www.webmd.com" rel="nofollow noopener noreferrer">WebMD</a>
          </li>
        </ul>
      </div>
    </div>
    <div id="cardMicrosoft" class="card mb-2 pb-0">
      <div class="card-header" style="background-color: lightsalmon;">
        <div class="card-title h5">Microsoft</div>
      </div>
      <div class="card-body pt-1 pb-2">
        <ul class="list-unstyled">
          <li>
            <a class="card-link" href="https://www.onmsft.com/">OnMsft   Microsoft related news</a>
          </li>
          <li>
            <a class="card-link" href="https://portal.azure.com/">Azure Portal</a>
          </li>
          <li>
            <a class="card-link" href="https://blogs.msdn.microsoft.com/">MSDN Blogs</a>
          </li>
        </ul>
      </div>
    </div>
    <div id="cardMiscellaneous" class="card mb-2 pb-0">
      <div class="card-header" style="background-color: lightgray;">
        <div class="card-title h5">Miscellaneous</div>
      </div>
      <div class="card-body pt-1 pb-2">
        <ul class="list-unstyled">
          <li>
            <a class="card-link" href="http://portal.louisvilleky.gov/applications/RestaurantInspectionScores" rel="nofollow noopener noreferrer">Louisville Restaurant Scores</a>
          </li>
          <li>
            <a class="card-link" href="http://www.jeffersoncountyclerk.org/" rel="nofollow noopener noreferrer">Louisville County Clerk</a>
          </li>
          <li>
            <a class="card-link" href="https://louisvilleky.gov/" rel="nofollow noopener noreferrer">Louisville Metro Government</a>
          </li>
        </ul>
      </div>
    </div>
    <div id="cardNetworks" class="card mb-2 pb-0">
      <div class="card-header" style="background-color: lightseagreen;">
        <div class="card-title h5">Networks</div>
      </div>
      <div class="card-body pt-1 pb-2">
        <ul class="list-unstyled">
          <li>
            <a class="card-link" href="https://www.speedguide.net/" rel="nofollow noopener noreferrer">SpeedGuide</a>
          </li>
          <li>
            <a class="card-link" href="https://www.snbforums.com/forums/asuswrt-merlin.42/" rel="nofollow noopener noreferrer">AsusWRT-Merlin Forum</a>
          </li>
          <li>
            <a class="card-link" href="http://www.dslreports.com/forum/charter" rel="nofollow noopener noreferrer">Charter Spectrum Forum</a>
          </li>
        </ul>
      </div>
    </div>
    <div id="cardScience" class="card mb-2 pb-0">
      <div class="card-header" style="background-color: lightgreen;">
        <div class="card-title h5">Science</div>
      </div>
      <div class="card-body pt-1 pb-1">
        <ul class="list-unstyled">
          <li>
            <a class="card-link" href="http://www.nasa.gov" rel="nofollow noopener noreferrer">NASA</a>
          </li>
          <li>
            <a class="card-link" href=" https://www.sciencedaily.com/" rel="nofollow noopener noreferrer">Science Daily</a>
          </li>
          <li>
            <a class="card-link" href="https://www.sciencenews.org/" rel="nofollow noopener noreferrer">Science News</a>
          </li>
        </ul>
      </div>
    </div>
    <div id="cardSocial" class="card mb-2 pb-0">
      <div class="card-header" style="background-color: chartreuse;">
        <div class="card-title h5">Social</div>
      </div>
      <div class="card-body pt-1 pb-2">
        <ul class="list-unstyled">
          <li>
            <a class="card-link" href="https://www.linkedin.com" rel="nofollow noopener noreferrer">LinkedIn</a>
          </li>
          <li>
            <a class="card-link" href="https://www.twitter.com" rel="nofollow noopener noreferrer">Twitter</a>
          </li>
          <li>
            <a class="card-link" href="http://www.github.com/" rel="nofollow noopener noreferrer">GitHub</a>
          </li>
        </ul>
      </div>
    </div>
    <div id="cardTraining" class="card mb-2 pb-0">
      <div class="card-header" style="background-color: lightpink;">
        <div class="card-title h5">Training</div>
      </div>
      <div class="card-body pt-1 pb-2">
        <ul class="list-unstyled">
          <li>
            <a class="card-link" href="https://mva.microsoft.com/" rel="nofollow noopener noreferrer">Microsoft Virtual Academy</a>
          </li>
          <li>
            <a class="card-link" href="https://www.pluralsight.com/" rel="nofollow noopener noreferrer">Pluralsight</a>
          </li>
          <li>
            <a class="card-link" href="https://channel9.msdn.com/" rel="nofollow noopener noreferrer">Channel 9 videos</a>
          </li>
          <li>
            <a class="card-link" href="https://www.packtpub.com/packt/offers/free-learning" rel="nofollow noopener noreferrer">PackT free books</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
 </div>

