<div>
  <mdb-card id="GuildQuest">
    <mdb-card-header class="row mx-2">
      <mdb-card-title class="h1-responsive text-center projectcolor1 w-100 text font-weight-bold">Guild Quest</mdb-card-title>
    </mdb-card-header>
    <mdb-card-body class="mx-2">
      <div class="row">
        <!--<div class="col-md-4 card-img">
          <img class="img-fluid img-thumbnail" src="/assets/images/webp/GuildQuest.webp" alt="Screenshot of GuildQuest website" />
        </div>-->
        <div class="view view-cascade overlay col-4">
          <img src="/assets/images/webp/GuildQuest.webp" class="card-img-top img-thumbnail" alt="Screenshot of GuildQuest website">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/.Card image-->


        <div class="col-md-8">
          <div class="row edge-header heavy-rain-gradient">
            <p>
              Based on a project that I worked on while attending The Software Guild.
              The original project was developed using .Net 4.5.2 and Bootstrap 3.
            </p>
            <p>
              The current project is using .Net 4.7.1 and Bootstrap 4. Since the default MVC template uses Bootstrap 3, I had to convert it to Bootstrap 4.
            </p>
            <p>
              This project is still a work in progress and has not been optimized for mobile platforms.<br />
              It is best viewed from a laptop or desktop.
            </p>
          </div>

          <mdb-card-title class="h4 card-title text-center shadow">Features</mdb-card-title>

          <div class="row card-text font-weight-bold">
            <div class="col-md-6">ASP.Net MVC</div>
            <div class="col-md-6">ASP.Net API</div>
            <div class="col-md-6">Entity Framework 6.2</div>
            <div class="col-md-6">Bootstrap 4.0</div>
            <div class="col-md-6">HTML5/CSS3/jQuery</div>
            <div class="col-md-6">SQL Server 2016</div>
            <div class="col-md-6">Linq</div>
            <div class="col-md-6">Twilio - used for two party authenication</div>
            <div class="col-md-6">Microsoft Identity</div>
            <div class="col-md-6">CKEditor - inline text editor</div>
          </div>
        </div>
      </div>
    </mdb-card-body>
    <mdb-card-footer class="mt-3 w-100">
      <div class="row w-100">
        <div class="btn-group-lg">
          <a class="btn btn-primary"
             href="https://github.com/richardturnmire/GuildQuest">
            Source on GitHub
          </a>
          <a class="btn btn-primary" name="liveDemo1" id="liveDemo1"
             href="http://guildquest.richardturnmire.com" target="_blank" rel="noopener">
            Live Demo
          </a>
        </div>
      </div>
    </mdb-card-footer>
  </mdb-card>
</div>
