@import url(~fullpage.js/dist/fullpage.min.css);

html {
  scroll-behavior: smooth;
}

.section {
  width: 100vw;
  height: 100vh;
  margin-top: 10vh;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-size: 72px;
}

#backToTop {
  position: absolute;
  bottom: 50px !important;
  right: 50px !important;
}
