<div>
  <div style="height: 80vh;" class="px-5">
    <mdb-card class="mb-2 bg-transparent">
      <mdb-card-header class="z-depth-2 deep-purple lighten-2">
        <h3 class="text-center font-weight-bold">Professional Experience</h3>
      </mdb-card-header>


      <mdb-card-body class="mx-auto  mb-2 font-larger">

        <mdb-card class="mb-1 border-dark p-1">
          <mdb-card-header class="deep-purple lighten-4">
            <div class="row px-0 mx-0">
              <div class="col-md-3     ">
                <figure class="figure card-img">
                  <img class="figure-img img-fluid img-thumbnail" src="/assets/images/webp/TheSoftwareGuild-2.webp" alt="The Software Guild logo" />
                </figure>
              </div>
              <ul class="col list-group">
                <li class="list-group-item w-100 font-weight-bold">The Software Guild</li>
                <li class="list-group-item w-100">Louisville, Ky</li>
                <li class="list-group-item w-100">Junior Software Developer</li>
                <li class="list-group-item w-100">May 2017 - Jul 2017</li>
              </ul>
              <div class="col-6 deep-purple lighten-5">
                test
              </div>
            </div>
          </mdb-card-header>
          <mdb-card-body>
            <ul class="list-group">
              <li class="list-group-item w-100">Developed DVD Library application. Used HTML, CSS, JavaScript and Bootstrap for the front end. Back end was a Web API application using C# and Ninject. Supported 3 different data access types: In-memory, Entity Framework, and ADO.</li>
              <li class="list-group-item w-100">Designed the SQL Server database schema for a Hotel Reservation system. Design consisted of 24 tables and 2 Entity-Relationship Diagrams.</li>
              <li class="list-group-item w-100">Developed Vending Machine application using HTML, CSS, JavaScript and BootStrap. Application interacted with a web service.</li>
              <li class="list-group-item w-100">Wrote an ASP.Net MVC student information system using C#, HTML, CSS., and BootStrap.</li>
              <li class="list-group-item w-100">Developed a full stack Car Dealership application. Front end used HTML, JavaScript, jQuery, CSS, and Bootstrap. It featured an email interface and implemented the Google Map API. Back end was a C# ASP.Net MVC application using Entity Framework, ADO, and Web API.</li>
              <li class="list-group-item w-100">Worked on a 4-person team to design BLOG application. I contributed the photo upload interface along with the tag cloud / search function.</li>
              <li class="list-group-item w-100">Utilized Atlassian Tools (JIRA, Crucible, and Bitbucket) for version control and workflow management. Used Stack for team communication.</li>
            </ul>
          </mdb-card-body>
        </mdb-card>

      </mdb-card-body>
    </mdb-card>
  </div>
  </div>
