<!--Double navigation-->
  <header>
    <nav id="menu" class="navbar navbar-expand-lg text-white fixed-top scrolling-navbar">
      <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto smooth-scroll">
            <li class="nav-item">
              <a class="nav-link" data-menuanchor="homePage" href="#home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-menuanchor="skillsPage" href="#resume" data-offset="100">Resume</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-menuanchor="projectPage" ref="#projects" data-offset="100">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-menuanchor="favoritesPage" href="#favorites" data-offset="100">Favorites</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-menuanchor="contactPage" href="#contact" data-offset="100">Contact</a>
            </li>
          </ul>
          
          <!-- Social Icon  -->
          <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item">
              <a class="nav-link"><i class="fab fa-facebook-f light-green-text-2"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><i class="fab fa-twitter light-green-text-2"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><i class="fab fa-instagram light-green-text-2"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>




  </header>
