<div>
  <mdb-card class=" mb-1 border-dark p-1">
    <mdb-card-header class="deep-purple lighten-4">

      <div class="row px-0 mx-0">
        <div class=" col-md-3">
          <figure class="figure card-img">
            <img class="figure-img img-fluid img-thumbnail" src="/assets/images/webp/CEB.webp" alt="SHL-CEB logo" />
          </figure>
        </div>
        <ul class="col list-group">
          <li class="list-group-item w-100 font-weight-bold">SHL - CEB Talent Measurement Solutions</li>
          <li class="list-group-item w-100">Remote</li>
          <li class="list-group-item w-100">Quality Assurance Specialist</li>
          <li class="list-group-item w-100">Nov 2014 – Dec 2014</li>
        </ul>
        <div class="col-6 deep-purple lighten-5">
          test
        </div>
        </div>
    </mdb-card-header>
    <mdb-card-body>
      <ul class="list-group">
        <li class="list-group-item w-100">Reviewed 100+ COBOL related questions for consistency, clarity and correctness. </li>
        <li class="list-group-item w-100">Collaborated with other team members to resolve all issues. </li>
        <li class="list-group-item w-100">Produced reports for management. </li>
      </ul>
    </mdb-card-body>
  </mdb-card>
</div>
