<div>
  <mdb-card>
    <mdb-card-header>
      <div class="row w-100">
        <div class="view view-cascade overlay col-4 p-0">
          <img src="/assets/images/webp/Profile.webp" alt="Richard's Profile picture" class="img-fluid img-thumbnail " />
        </div>
        <mdb-card-text class="col-8 p-1  bg-white">
          Hello and welcome to my website.
        </mdb-card-text>
      </div>
    </mdb-card-header>



    <mdb-card-footer class="bg-light border-top border-dark">

      <blockquote class="blockquote text-dark">
        <script src="https://www.brainyquote.com/link/quotebr.js"></script>

        <p>
          <small><i><a href="https://www.brainyquote.com/quote_of_the_day" target="_blank" rel="nofollow noopener noreferrer">more Quotes</a></i></small>
        </p>
      </blockquote>

    </mdb-card-footer>
  </mdb-card>

</div>

