<div>
  <div id="AngularGuildQuest" class="card">

    <h3 class="h3 card-header text-center projectcolor1">Angular Guild Quest</h3>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4 card-img">
          <img class="img-fluid img-thumbnail" src="/assets/images/webp/AngularGuildQuest.webp" alt="Screenshot of Angular GuildQuest website" />
        </div>

        <div class="col-md-8">

          <div class="row edge-header heavy-rain-gradient">
            <p>
              This is the Angular version of my Guild Quest project
            </p>
            <p>
              The current project is using .Net Core 2.1 and Angular 6.
            </p>
            <p>
              This project is still a work in progress and has not been optimized for mobile platforms.<br />
              It is best viewed from a laptop or desktop.
            </p>
          </div>

          <h4 class="h4 card-title text-center shadow">Features</h4>

          <div class="row card-text font-weight-bold">

            <div class="col-md-6">ASP.Net Core 2.1 API </div>
            <div class="col-md-6">Entity Framework Core 2.1</div>
            <div class="col-md-6">Angular 6</div>
            <div class="col-md-6">Bootstrap 4.0</div>
            <div class="col-md-6">HTML5/CSS3/SASS</div>
            <div class="col-md-6">SQL Server 2016</div>
            <div class="col-md-6">Linq</div>
            <div class="col-md-6">Twilio - used for two party authenication</div>
            <div class="col-md-6">Microsoft Identity</div>
            <div class="col-md-6">CKEditor - inline text editor</div>

          </div>
        </div>
      </div>
    </div>

    <div class="card-footer text-black">
      <div class="row w-100">
        <div class="btn-group-lg">
          <a class="btn btn-primary"
             href="https://github.com/richardturnmire/GuildQuestAngular">
            Source on GitHub
          </a>
          <a class="btn btn-primary" name="liveDemo2" id="liveDemo2"
             href="http://angularguildquest.richardturnmire.com" target="_blank" rel="noopener">
            Live Demo
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>

